beautifulsoup4==4.7.1
bs4==0.0.1
cacheout==0.11.2
cchardet==2.1.5
certifi==2019.11.28
chardet==3.0.4
cssselect==1.1.0
Cython==0.29.14
decorator==4.4.1
html2text==2019.9.26
idna==2.8
jieba==0.39
lxml==4.4.2
MagicBaidu==0.0.9
networkx==2.4
numpy==1.17.4
pkuseg==0.0.22
pyltp==0.2.1
readability-lxml==0.7.1
requests==2.21.0
soupsieve==1.9.5
Terry-toolkit==0.0.1.7.4
textrank4zh==0.3
tqdm==4.40.2
unqlite==0.7.1
urllib3==1.24.3
